<div class="container">
  <div class="header">
    <!--BANNER AREA-->
    <div
      class="header__banner"
      [ngStyle]="{
        'background-image': 'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3))'
      }"
    >
      <!-- <h2>{{ trending?.results[0].title }}</h2>-->
      <div class="header__buttons">
        <button class="play-button">
          <mat-icon>arrow_right</mat-icon>
          <span>Jouer</span>
        </button>

        <button class="more-button">
          <mat-icon>info</mat-icon>
          <span>More Info</span>
        </button>
      </div>
    </div>
    <!--Fin de la bannière-->

    <!--corps-->
    <div class="header__main" id="stickyHeader" [class.sticky]="sticky">
      <div class="header__left">
        <a routerLink="/">
          <img src="assets/netflix.png" alt="logo" />
        </a>
        <ul>
          <li class="active"><a href="#">Accueil</a></li>
          <li><a href="#">show televisé</a></li>
          <li><a href="#">Films</a></li>
          <li><a href="#">Récent</a></li>
          <li><a href="#">Ma liste</a></li>
        </ul>
      </div>

      <div class="header__right">
        <ul>
          <li>
            <a href="#"><mat-icon>search</mat-icon></a>
          </li>
          <li><a href="#">Enfants</a></li>
          <li>
            <a href="#"><mat-icon>card_giftcard</mat-icon></a>
          </li>
          <li>
            <a href="#"><mat-icon>notifications</mat-icon></a>
          </li>
          <li>
            <img
              src="https://occ-0-4345-3647.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABRGTK96GBeqNw5zzYXnoa8oVjSjhuk7SuseuKTmgEKwpcCB59994UWb6wd7d1WONZOuzJwbLNpzG5Okfo4rSDLg.png?r=ee6"
              alt="avatar"
            />
          </li>
        </ul>
      </div>
    </div>
    <!--Fin de l'en tete-->
  </div>

  <div class="body" style="margin-top: 30rem">
    <app-glissiere
      title="Trending"
      [movies]="trending"
      [sliderConfig]="sliderConfig"
    ></app-glissiere>
    <app-glissiere
      title="Top Rated"
      [movies]="topRated"
      [sliderConfig]="sliderConfig"
    ></app-glissiere>
    <app-glissiere
      title="Now Playing"
      [movies]="nowPlaying"
      [sliderConfig]="sliderConfig"
    ></app-glissiere>
    <app-glissiere
      title="Originals"
      [movies]="originals"
      [sliderConfig]="sliderConfig"
    ></app-glissiere>
    <app-glissiere
      title="Popular"
      [movies]="popular"
      [sliderConfig]="sliderConfig"
    ></app-glissiere>
  </div>
</div>

<!--<router-outlet></router-outlet>-->
