.header-container {
    position: relative;
    width: 100%;
    height: 650px;
}

.header-info-container {
    position: absolute;
    justify-content: center;
    width: 50%;
    min-width: 500px;
    max-width: 800px;
    padding: 64px;
}

.header-info-container > * {
    margin: 16px;
}

.info-title {
    font-size: 35px;
    line-height: 30px;
    font-weight: 700;
    color: #fff
}

.info-metadata-item {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #a3a3a3;
    display: inline-block;
}

.info-metadata-divider {
    color: #a3a3a3;
    margin: 0 9px;
}

.info-synopsis {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    max-width: 100%;
}

.info-cast-label {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #a3a3a3;
    margin-right: 5px;
}

.info-cast-item {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
}

.header-img-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.header-img {
    width: 100%;
    height: 100%;
    background: linear-gradient(0.25turn, #181818, #181818af, #18181800),
    linear-gradient(#181818, #18181860, #18181800, #18181860, #181818);
}