.netflix-logo {
    width: 110px;
    height: auto;
}

.navbar {
    display: flex;
    padding: 12px;
}

.navbar-brand {
    margin-right: 64px;
}

.navbar-menu {
    display: flex;
}

.navbar-item {
    margin-right: 32px;
    align-self: center;
    font-size: 18px;
}

.navbar-get-started {
    align-self: center;
    margin-left: auto;
}